@model IEnumerable<JobListingsWeb.Models.JobViewModel> 


@*@foreach (var item in Model)
{
    <div class="py-5">
        <p>
            @item.Id
        </p>
        <p>
            @item.Name
        </p>
    </div>
}*@